<h1 class="stepHeading">{{stepsHeading}}</h1>
<div class="top">
<div class="stepNote">{{stepsNote}}</div><br>
<div class="stepInst">{{stepsInst}}</div><br>
<div class="additionalInfo">{{additionalInfo}}</div><br>
<div class="stepGuid">{{stepsGuide}}</div><br>
<div class="step1"><div class="steps">1</div><span class="stepBold">  VERIFICATION:</span> {{step1}}</div><br>
<div class="step2"><div class="steps">2</div><span class="stepBold">  FILE UPLOAD: </span>{{step2}}</div><br>
<div class="step3"><div class="steps">3</div><span class="stepBold">  SUBMIT FOR REVIEW:</span> {{step3}}</div><br>
<button class="primary-btn" (click)="verify()">Get Started</button><br>
<p id="userSwitch">{{userSwitch}}</p>
</div>